#root {
  max-width: 1280px;
  min-width: 375px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  width: 40%;
  -moz-appearance:textfield; /* Firefox */
}

label {
  font-size: large;
  margin-left: 2%;
}

select {
  min-width: 150px;
  font-size: large;
  margin-left: 2%;
}

select, input[type=number] {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 2em;
  text-align: center;
  line-height: 2em;
}

.hidden {
  display: none;
}

.no-margin {
  margin: 0;
}

.section_title {
  text-transform: uppercase;
  margin-top: 5%;
  margin-bottom: 0;
}

table{
  text-align: right;
  padding: 2%;
  width: 100%;
}

table .title{
  text-align: left;
  width: 30%;
}

table.bigTotal, table.bigTotal .title {
  text-align: center;
  font-size: 1.5em;
}

table td{
  margin: 0 2%;
}

table thead tr th {
  /*background: aliceblue;*/
  line-height: 2em;
}

/*tr:nth-child(even) {background-color: #f2f2f2;}*/

th, .summary {
  font-weight: 800;
}

.width_40 {
  width: 40%;
}

.width_50 {
  width: 50%;
}

.flex {
  display: flex;
}

.margin-auto {
  margin: auto;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card {
  width: 100%;
}

.section {
  margin: 5% 0;
  width: 100%;
  justify-content: center;
}

.selectors, .section_checkbox {
  position: relative;
  line-height: 2em;
}

.showBidSection_bid{
  margin-bottom: 2%;
}

.showBidSection_bid input{
  width: 25%;
  margin: 0 5%;
}

.showBidSection_bid button{
  font-size: 1.5em;
}

.selectors div {
  margin: auto 1%;
}

.amount input{
  font-size: x-large;
}

.size_medium{
  font-size: medium;
}